
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionView</title>
</head>
<body>
    <div>
        Controller:@ViewBag.Controller
        Action:@ViewBag.Action
    </div>
</body>
</html>
